*{
    margin: 0px;
    padding: 0px;
}
img{
    width: 100%;
}
.flex{
    display: flex;
}
main{
margin: 0px 35px;
}
.explanation p,.list ul li {
    font-family: Roboto;
    font-size:16px;
    color: #863B9C;
    margin-bottom:10px;
}
.pic{
    margin: 60px 0px 0px;
    border-radius: 20px;
    border-width:10px;
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.158);
    width:350px;
    justify-self: center;
}
.pic img{
    border-radius: 20px;
    width:350px;
    height:250px;
}
.heading{
    font-family: Montserrat;
    font-size: 20px;
    color: #370E3E;
    margin: 10px 0px 0px;
    line-height:80px;
}
.main-content{
    font-family: Roboto;
    font-size: 20px;
    color: #370E3E;
    line-height:18px;
}
.list{
    gap:20vw;
}
.list ul li {
    list-style-type: none;
}


/* tablet portrait */
@media only screen and (min-width: 768px) {
.about-container{
    display: flex;
    gap: 60px;
}

.pic{
    width:360px;
    height:430px;
}
.pic img{
    width:360px;
    height:430px;
}

}

/* desktop */
@media only screen and (min-width: 1200px) {
    .main-content {
    font-family: Roboto;
    color: #370E3E;
    line-height:25px;
}
.pic{
    width:480px;
    height:460px;
}
.pic img{
    width:480px;
    height:460px;
}
}
