
.flex{
    display: flex;
}

main{
color:#863B9C;
margin:10px 30px;
}
main .headings{
    text-align:center;
}
main h2{
color:#370E3E;
margin-top: 40px;
margin-bottom: 20px;
font-family: Montserrat;
font-size: 28px;
}
main p{
    margin-left: 60px;
    margin-bottom:15px;
    font-family: Roboto;
    font-size: 18px;
}
main form{
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
form div{
    margin-top: 16px;
}
main form label{
    font-family: Montserrat;
    font-size:15px;
}
.input {
    background-color:#f5e9f74f;
    border-color: #E0BCE7 ;
    border-width: 1px;
    margin-top: 20px;
    border-radius: 3px;
    height: 40px;
    width: 280px;
}
.submit{
    background-color: #9C27B0;
    color: white;
    width: 120px;
    height: auto;
    padding: 10px;
    border-color:#E0BCE7;
    border-radius: 3px;
}
.submit:hover{
    border-color:#E0BCE7;
    background-color:#f5e9f74f;
    color: #9C27B0;
    border-width: 2px;
}
.textarea{
    background-color:#f5e9f74f;
    border-color: #E0BCE7 ;
    border-radius: 10px;
    border-radius: 3px;
    margin-top: 20px;
    height: 200px;
    width: 280px;
    resize: none;
} 

.icon{
    width: 40px;
    margin-right: 10px;
}
.address p,.email p,.phone p{
    font-family: Roboto;
    font-size: 16px;
    line-height:25px;
    display:inline-block;
    margin-left: 3px;
}
.address ,.email ,.phone {
    margin: 20px;
}





@media (min-width: 768px){
.contact-container , form{
    display: flex;
    gap: 60px;
    align-items: center;
}   
.contact-container{
    margin:0px 60px;
}
.input {
    margin-top: 40px;
    height: 50px;
    width: 300px;
}
}

