body{
    background-image: url("../img/Back-Ground/pic 1.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    height: 95vh;
    display: grid;
}
.flex{
    display: flex; 
}

main{
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    height: 100%;
    margin:40vh 0px ;
}
main .intro{
    font-size: 4vw;
    padding-bottom:6vh;
    letter-spacing: 8%;
    line-height: 1vh;
}
main .intro-2{
    font-size: 3vw;
}
.home-header{
    height:60px ;
}
.home-footer{
position:fixed;
width: 100%;
bottom: 0px;
}
