*{
    margin: 0px;
    padding: 0px;
}
main{
    margin:40px 0px;
}
.overlay{
    background-color: #F5E9F7;
    margin: 25px 65px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    width: 340px;
    height:340px;
    font-family: Montserrat;
    justify-content: center;
} 
.overlay img , .overlay iframe{
    border-radius:20px;
    justify-self: center;
    width:300px ;
    height:200px;
}
.statement{
    margin-top: 10px;
    margin-bottom: 20px;
}
.statement h2{
    margin-bottom:10px;
}
.link{
    text-decoration: none;
    color: #9C27B0;;
}
.link:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (min-width: 600px) {

.first-container,.second-container{
    display: flex;
}
.overlay{
    gap: 0px;
    margin: 20px 7px;
    padding: 10px;
    width: 200px;
    height:260px;
} 
.overlay img , .overlay iframe{
    width:160px ;
    height:160px;
}
.statement h2{
    font-size:18px;
}
.link{
    font-size: 14px;
}
} 

@media only screen and (min-width: 768px){
.overlay{
    width: 240px;
    padding:15px 8px;
} 
.overlay img , .overlay iframe{
    width:220px ;
}

}

@media only screen and (min-width: 1200px){
.overlay{
    width: 360px;
} 
.overlay img , .overlay iframe{
    width:300px;
}
.statement h2{
    font-size:20px;
}
.link{
    font-size: 14px;
}
} 