*{
    margin:0px;
    padding:0px;
}
.montserat{
    font-family: Montserrat;
}
.roboto{
font-family: Roboto;
}
.heading{
    color:#370E3E;
    text-align:center;
    margin-top: 60px;
    font-size: 40px;
}
.subheading{
    color:#863B9C;
    font-family: Roboto;
    font-size:20px;
    text-align: center;
    margin: 10px 0px;
}
table {
border-collapse: collapse;
margin:30px;
}
table, th, td {
border: 1px solid;
border-color:#E0BCE7;
color:#863B9C;
font-size:20px;
font-weight:400;
padding: 20px;
} 
button{
    background-color: #9C27B0;
    border-color:#E0BCE7 ;
    border-radius: 20px;
    justify-content: center;
    width: 200px;
    padding: 15px;
    margin:0px 120px 40px;
}
button a{
    color: white;
    font-size: large;
    text-decoration: none;
} 
